@import '~antd/dist/antd.css';
.form-button-container {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.finish-button {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.warning {
  color: #ffc107;
  font-weight: bold;
  margin-left: 3px;
}

.form-container {
  padding-top: 100px;
}

.input-container {
  padding-top: 10px;
}

.results-container {
  padding-top: 20px;
}